
<p></p>
<p></p>
<p></p>
<footer>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <p>Powered By <a href="http://nodejs.org/">Node.js</a> / <a href="http://expressjs.com/">Express</a> /
                <a href="http://www.mongodb.org/">Mongo</a>

            <p>Code By <a href="http://www.520608.com">520608.com</a>，Passing HTML 5.0 & CSS 3.0</p>

            <p>© 2014 <a href="http://www.520608.com">520608.com</a> 版权所有</p>

            <p><a href="/rss">RSS</a>&nbsp;|&nbsp;<a href="/admin">后台登录</a>&nbsp;|&nbsp;<a href="/sitemap.xml">Sitemap</a>
            </p>

            <form action="/search" method="GET">
                <p><input type="text" placeholder="Search..."/></p>
            </form>
        </div>
    </div>
</footer>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>