<%-include header.html%>
    <div class="row">
    <%
    var i=0;
    posts.forEach(function(post){%>
    <% if(i%2==0){ %>

        <%}%>
        <div class="col-xs-5">
            <h2 class="page-header"><a href="/post/<%= post.pid %>.html" rel="点击阅读 <%= post.title %>"
                                       title="<%=post.title %>"><%= post.titlesub %></a></h2>
            <p><%= post.content %></p>
            <p>
                <span class="text-muted"><%= post.time.day %></span>
                <span class="text-muted">点击: <%= post.pv %>次</span>
                <span class="text-muted">评论: <%= post.comments.length %>条</span>
            </p>
        </div>
        <% if(i%2==0){ %>

    <% }%>
    <%
    i++;
    }) %>
    </div>


 <%-include footer.html%>